.juego {
  border: 2px solid blue;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.carton {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.carton>div {
  border: 3px solid #000;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
}

h1 {
  text-align: center;
}

carton.tachado {
  color: red;
  text-decoration: line-through;
}

#numbombo {
  font-size: 50px;
  margin-top: 0em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 80%;
  padding: 20px;
  margin-bottom: 0em;
}

#botton {
  margin-top: 2em;
}
